# Anything you want to track in Git LFS goes here
# https://github.com/git-lfs/git-lfs/wiki/Tutorial
assets/** filter=lfs diff=lfs merge=lfs -text
models/trainable/** filter=lfs diff=lfs merge=lfs -text